<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dynamic Handle bars</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<h1>{{ info.name }}</h1>
	<p> {{ info.email }} </p>
</body>
</html>